body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 10%);
    margin: 0;
}

#calculator {
    flex-basis: 100%;
    font-family: Arial, sans-serif;
    max-width: 500px;
    background-color: hsl(0, 0%, 0%);
    border-radius: 15px;
    overflow: hidden;
}

#display {
    width: 90%;
    background-color: hsl(0, 0%, 0%);
    color: white;
    font-size: 40px;
    padding: 20px;
    text-align: right;
    border: none;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button {
    height: 90px;
    width: 100px;
    background-color:hsl(0, 5%, 5%);
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 5%, 10%);
    transform: scale(0.9);
}

button:active {
    background-color: hsl(0, 5%, 20%);
}

.operator {
    color: orangered;
}

@media screen and (max-width: 600px) {
    #calculator {
        width: 100%;
        border-radius: 0;
    }

    #display {
        font-size: 30px;
        padding: 15px;
    }

    button {
        height: 70px;
        width: 70px;
        font-size: 25px;
    }
    
}

@media screen and (min-width: 601px) and (max-width: 900px) {
    #calculator {
        width: 80%;
    }

    #display {
        font-size: 35px;
        padding: 18px;
    }

    button {
        height: 80px;
        width: 80px;
        font-size: 28px;
    }
}

@media screen and (min-width: 901px) {
    #calculator {
        width: 500px;
    }
}

@media screen and (min-width: 1200px) {
    #calculator {
        width: 600px;
    }

    #display {
        font-size: 45px;
        padding: 25px;
    }

    button {
        height: 100px;
        width: 110px;
        font-size: 32px;
    }
}
@media screen and (max-width: 400px) {
    #buttons {
        grid-template-columns: repeat(3, 1fr);
    }

    button {
        width: 80px;
    }
}

@media screen and (max-width: 300px) {
    #buttons {
        grid-template-columns: repeat(2, 1fr);
    }

    button {
        width: 70px;
    }
}